

body {
  font-family: 'Inter', sans-serif;
  background-color: #1b1b1b;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 700px;
  width: 100%;


}

h1 {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 1rem;
}

.video-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #333;
}

.video-thumbnail img {
  border-radius: 8px;
  width: 100px;
  height: auto;
}

.video-details {
  flex-grow: 1;
  margin-left: 15px;
  p {
    font-size: 12px;
  }
}

.download-btn {
  background: none;
  color: #66c0f4;
  border: 1px solid #66c0f4;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.download-btn:hover {
  background-color: #66c0f4;
  color: #ffffff;
}
