[Unit]
Description=Video Upload Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/app
Environment=PYTHONPATH=/home/pi/app
ExecStart=/bin/bash -c 'cd /home/pi/app && source .venv/bin/activate && python video_uploader.py'
Restart=always
User=root
RestartSec=10

[Install]
WantedBy=multi-user.target